.container {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    padding: 20px 0;
}
.carousel {
   display: flex;
   gap: 20px;
   transition: transform 0.4s ease-in-out;
   width: 100%;
}